<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Details</title>
</head>
<body>

    <h1>{{ vehicle.vehicle_name }}</h1>

    <p>Type: {{ vehicle.vehicle_type }}</p>
    <p>Number Plate: {{ vehicle.number_plate }}</p>
    <p>Price: ₹{{ vehicle.price_per_hour }}/hour</p>

    {% if vehicle.image %}
        <img src="{{ vehicle.image.url }}" width="300">
    {% else %}
        <p>No image available</p>
    {% endif %}

    <br><br>
    <a href="{% url 'home' %}">⬅ Back to Home</a>

</body>
</html>
